<main class="container">
    <div class="title">
        <h1 class="cover-heading"> {{user.username}}'s {{title}}</h1>
    </div>
    <div class="page-body">
        <div class="profile-page">
            {{#if user}}           
                <h3>Username: {{user.username}}</h3>
                <img src="/uploads/{{user.img}}" style="width: 60px; height: 60px;">
                <div class="profile-option-buttons">
                    <a class="cta" href="/profiles/yourRecipes/{{user._id}}"><span>Your Recipes</span></a>
                </div> 
                <div class="profile-option-buttons">
                    <a class="cta" href="#"><span>Liked Recipes</span></a> 
                </div> 
                <div class="profile-option-buttons">
                    <a class="cta" href="../recipes/add"><span>New Recipe</span></a> 
                </div> 
                <div class="profile-option-buttons">
                    <a class="cta" href="/profiles/edit/{{user._id}}"><span>Settings</span></a> 
                </div>   
                <div class="profile-option-buttons">
                    <a class="cta" href="/logout"><span>Logout</span></a> 
                </div> 
            {{else}}
                {{!-- Refreshes the page after _ (0) seconds to the login page --}}
                <meta http-equiv="Refresh" content="0; url='/login'" /> 
                {{!-- If meta doesnt load in browser, the link is a fail safe --}}
                <h1>Can NOT reach this page. Please <a href="/login">Sign in</a>.</h1>
            {{/if}}
        </div>
    </div>
</main>

