{{!-- Page where users would view recipes --}}

<head>
    <link rel="stylesheet" href="../../public/stylesheets/yourRecipeCards.css">
</head>

<h1>{{title}}</h1>

<table>
    <thead>
        <th>Title:</th>
        <th>Author:</th>
        <th>Total Time:</th>
        <th>Image:</th>
        <th>Cook Time:</th>
        <th>Servings:</th>
        <th>Ingredients:</th>
        <th>Steps:</th>
        <th>Rating:</th>
        <th>Tags:</th>
        {{#if ../user}}
            <th></th>
        {{/if}}
    </thead>
    {{#each dataset}}
    <tr>
        <td><a href="/recipes/view/{{this._id}}"><img id="#user-img" src="/uploads/{{this.img}}" style="margin-top: 2px; width: 215px; height: 200px;"></a></td>
        <td id="tit1">{{this.title}}</td>
        <td id="writer">{{this.author}}</td>
        {{#ifeq this.totalTime "1"}} 
            <td id="timeTot">{{this.totalTime}} hour</td>
        {{/ifeq}}
        {{#ifnoteq this.totalTime "1"}} 
            <td id="timeTot">{{this.totalTime}} minutes</td> 
        {{/ifnoteq}}
        
        {{#ifeq this.cookTime "1"}} 
            <td id="timeCook">{{this.cookTime}} hour</td>
        {{/ifeq}}
        {{#ifnoteq this.cookTime "1"}} 
            <td id="timeCook">{{this.cookTime}} minutes</td> 
        {{/ifnoteq}}
        {{#ifeq this.servings "1"}} 
            <td id="serve">{{this.servings}} serving</td>
        {{/ifeq}}
        {{#ifnoteq this.servings "1"}} 
            <td id="serve">{{this.servings}} servings</td> 
        {{/ifnoteq}}
        <td id="ingre">{{this.ingredients}}</td>
        <td id="step">{{this.steps}}</td>
        <td id="rate">{{this.rating}}</td>
        <td id="tagger">{{this.mealTime}}, {{this.mealProtein}}, {{this.totalTime}} </td>
        {{#if ../user}}
            <td id="linkers">
                <a href="/recipes/edit/{{this._id}}">Edit</a>
                <a href="/recipes/delete/{{this._id}}" class="btn btn-danger" onclick="return confirmDeletion();">Delete</a>
            </td>
        {{/if}}
    </tr>
    {{/each}}
</table>
