{{!-- Page where users would view recipes --}}

<h1>{{title}}</h1>

<table>
    <thead>
        <th>Title:</th>
        <th>Author:</th>
        <th>Total Time:</th>
        <th>Image:</th>
        <th>Cook Time:</th>
        <th>Servings:</th>
        <th>Ingredients:</th>
        <th>Steps:</th>
        <th>Rating:</th>
        <th>Tags:</th>
        {{#if ../user}}
            <th></th>
        {{/if}}
    </thead>
    {{#each dataset}}
    <tr>
        <td><a href="/recipes/view/{{this._id}}">{{this.title}}</a></td>
        <td>{{this.author}}</td>
        {{#ifeq this.totalTime "1"}} 
            <td>{{this.totalTime}} hour</td>
        {{/ifeq}}
        {{#ifnoteq this.totalTime "1"}} 
            <td>{{this.totalTime}} minutes</td> 
        {{/ifnoteq}}
        <td>{{!-- {{this.img}} --}}</td>
        {{#ifeq this.cookTime "1"}} 
            <td>{{this.cookTime}} hour</td>
        {{/ifeq}}
        {{#ifnoteq this.cookTime "1"}} 
            <td>{{this.cookTime}} minutes</td> 
        {{/ifnoteq}}
        {{#ifeq this.servings "1"}} 
            <td>{{this.servings}} serving</td>
        {{/ifeq}}
        {{#ifnoteq this.servings "1"}} 
            <td>{{this.servings}} servings</td> 
        {{/ifnoteq}}
        <td>{{this.ingredients}}</td>
        <td>{{this.steps}}</td>
        <td>{{this.rating}}</td>
        <td>{{this.mealTime}}, {{this.mealProtein}}, {{this.totalTime}} </td>
        {{#if ../user}}
            <td>
                <a href="/recipes/edit/{{this._id}}">Edit</a>
                <a href="/recipes/delete/{{this._id}}" class="btn btn-danger" onclick="return confirmDeletion();">Delete</a>
            </td>
        {{/if}}
    </tr>
    {{/each}}
</table>
