{{!-- Page where users would view recipes --}}

<h1>{{title}}</h1>

{{!-- Putting it in a form value with GET so we can call the get router --}}
<form action="/recipes" method="GET" class="searchbar">
    <input name="search" type="text" placeholder="Search Recipes">   
    <input type="submit">
</form>

<form action="/recipes" method="GET" class="searchbar">
       <select name="meals" id="meals">
        <option value="">Pick a meal </option>
        <option value="breakfast">Breakfast</option>
        <option value="lunch">Lunch</option>
        <option value="dinner">Dinner</option>
        <option value="dessert">Dessert</option>
    </select>
    <select name="mealType" id="mealType">
        <option value="">Pick a meal type</option>
        <option value="beef">Beef</option>
        <option value="chicken">Chicken</option>
        <option value="seafood">Seafood</option>
        <option value="vegetarian">Vegetarian</option>
        <option value="vegan">Vegan</option>
    </select>

    <select name="time" id="time">
        <option value="">Pick a time</option>
        <option value="20">20 minutes</option>
        <option value="30">30 minutes</option>
        <option value="45">45 minutes</option>
        <option value="1">1+ hour</option>
    </select>
    <input type="submit">
</form>


<table>
    <thead>
        <th>Author:</th>
        <th>Title:</th>
        <th>Total Time:</th>
        <th>Image:</th>
        <th>Cook Time:</th>
        <th>Servings:</th>
        <th>Ingredients:</th>
        <th>Steps:</th>
        <th>Rating:</th>
        <th>Tags:</th>
        {{#if user.role}}
            <th>ADMIN</th>
        {{/if}}
    </thead>
    {{#each dataset}}
    <tr>
        <td><a href="/recipes/view/{{this._id}}">{{this.title}}</a></td>
        <td>{{this.author}}</td>
        <td>{{this.totalTime}}</td>
        <td>{{!-- {{this.img}} --}}</td>
        <td>{{this.cookTime}}</td>
        <td>{{this.servings}}</td>
        <td>{{this.ingredients}}</td>
        <td>{{this.steps}}</td>
        <td>{{this.rating}}</td>
        <td>{{this.tags}}</td>
        {{#if ../user.role}}
            <td>
                <a href="/recipes/edit/{{this._id}}">Edit</a>
                <a href="/recipes/delete/{{this._id}}" class="btn btn-danger" onclick="return confirmDeletion();">Delete</a>
            </td>
        {{/if}}
    </tr>
    {{/each}}
</table>
