{{!-- Page where users would view recipes --}}

<head>
  <link rel="stylesheet" href="../../public/stylesheets/recipes_index.css">
</head>

<h1>The Ham Samwichez</h1>

{{!-- Putting it in a form value with GET so we can call the get router --}}
<form action="/recipes" method="GET" class="searchbar">
    <input name="search" type="text" placeholder="Search Recipes" id="search">   
    <input type="submit" id="sub">
</form>

<form action="/recipes" method="GET" class="searchbar">
       <select name="mealTime" id="meals">
        <option value="">Pick a meal </option>
        <option value="breakfast">Breakfast</option>
        <option value="lunch">Lunch</option>
        <option value="dinner">Dinner</option>
        <option value="dessert">Dessert</option>
    </select>
    <select name="mealProtein" id="mealType">
        <option value="">Pick a meal type</option>
        <option value="beef">Beef</option>
        <option value="chicken">Chicken</option>
        <option value="seafood">Seafood</option>
        <option value="vegetarian">Vegetarian</option>
        <option value="vegan">Vegan</option>
    </select>

    <select name="time" id="time">
        <option value="">Pick a time</option>
        <option value="20">20 minutes</option>
        <option value="30">30 minutes</option>
        <option value="45">45 minutes</option>
        <option value="1">1+ hour</option>
    </select>
    <input type="submit" id="submit">
</form>


<table>
    <thead>
        <th>Author:</th>
        <th>Title:</th>
        <th>Total Time:</th>
        <th>Image:</th>
        <th>Cook Time:</th>
        <th>Servings:</th>
        <th>Ingredients:</th>
        <th>Steps:</th>
        <th>Rating:</th>
        <th>Tags:</th>
        {{#if user.role}}
            <th>ADMIN</th>
        {{/if}}
    </thead>
    {{#each dataset}}
    <tr>
        <td><a href="/recipes/view/{{this._id}}"><img id="recipe-img" src="uploads/{{this.img}}"></a></td>
        <td id="to">{{this.title}}</td>
        <td id="author">{{this.author}}</td>
        {{#ifeq this.totalTime "1"}} 
            <td id="totTime">{{this.totalTime}} hour</td>
        {{/ifeq}}
        {{#ifnoteq this.totalTime "1"}} 
            <td id="totTime">{{this.totalTime}} minutes</td> 
        {{/ifnoteq}}
        {{#ifeq this.cookTime "1"}} 
            <td id="cooTime">{{this.cookTime}} hour</td>
        {{/ifeq}}
        {{#ifnoteq this.cookTime "1"}} 
            <td id="cooTime">{{this.cookTime}} minutes</td> 
        {{/ifnoteq}}
        {{#ifeq this.servings "1"}} 
            <td id="serving">{{this.servings}} serving</td>
        {{/ifeq}}
        {{#ifnoteq this.servings "1"}} 
            <td id="serving">{{this.servings}} servings</td> 
        {{/ifnoteq}}
        <td id="ingredients">{{this.ingredients}}</td>
        <td id="steps">{{this.steps}}</td>
        <td id="rating">{{this.rating}}</td>
        <td id="tag">{{this.mealTime}}, {{this.mealProtein}}, {{this.totalTime}} </td>
        {{#if ../user.role}}
            <td>
                <a href="/recipes/edit/{{this._id}}">Edit</a>
                <a href="/recipes/delete/{{this._id}}" class="btn btn-danger" onclick="return confirmDeletion();">Delete</a>
            </td>
        {{/if}}
    </tr>
    {{/each}}
</table>

{{!-- scroll to top button --}}
<button onclick="topFunction()" id="myBtn" title="Go to top">^</button>

<script>
    //Get the button
    var mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
    } else {
        mybutton.style.display = "none";
    }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
    }
</script>
