<section>
<h2 id="view_title">{{recipe.title}}</h2>
<p id="view_tags">{{recipe.mealTime}}</p> 
<p id="view_tags">{{recipe.mealProtein}}</p>
{{#ifeq this.totalTime "1"}} 
    <p id="view_tags">{{recipe.totalTime}} hour </p>
{{/ifeq}}
{{#ifnoteq this.totalTime "1"}} 
    <p id="view_tags">{{recipe.totalTime}} minutes </p>
{{/ifnoteq}}

<h4 id="view_author">Author: {{recipe.author}}</h4>
<p id="view_tidbits">Cook time: {{recipe.cookTime}}</p>
<p id="view_tidbits">Total time: {{recipe.totalTime}}</p>
<p id="view_tidbits">Servings: {{recipe.servings}}</p>
<p id="view_tidbits">Ratings: {{recipe.rating}}</p>

<h3 id="view_subtitle">Ingredients</h3>
<p id="view_ingredient">{{recipe.ingredients}}</p>

<h3 id="view_subtitle">Steps</h3>
<p id="view_steps">{{recipe.steps}}</p>
</section>

<aside>
<img src="/uploads/{{recipe.img}}" id="view_img">
</aside>
